# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [ ]:
'''
#第一個是取出一項，第二個是取出一列中的兩項，第三個是取出'2013-01-01'列到'2013-01-05'列的'A'行的內容\
第四個是取出從'2013-01-01'行到'2013-01-05'行跟從'A'列到'C'列的內容
'''

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [1]:
# 記得先 Import 正確的套件

import numpy as np 
import pandas as pd

In [19]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0 -0.407716  1.141848 -1.720688
1  0.578449  0.450697 -0.586800
2  0.409097 -0.005570 -0.231124
3  0.442078 -0.267248 -2.204804
4 -0.227623  2.127708 -1.096929
5 -0.917270  1.636067 -0.286730

In [21]:
print(df[0:3])
print(df[1::2])
print(df.iloc[:,-2:])
print(df.iloc[:,::2])

       col1      col2      col3
0 -0.407716  1.141848 -1.720688
1  0.578449  0.450697 -0.586800
2  0.409097 -0.005570 -0.231124
       col1      col2      col3
1  0.578449  0.450697 -0.586800
3  0.442078 -0.267248 -2.204804
5 -0.917270  1.636067 -0.286730
       col2      col3
0  1.141848 -1.720688
1  0.450697 -0.586800
2 -0.005570 -0.231124
3 -0.267248 -2.204804
4  2.127708 -1.096929
5  1.636067 -0.286730
       col1      col3
0 -0.407716 -1.720688
1  0.578449 -0.586800
2  0.409097 -0.231124
3  0.442078 -2.204804
4 -0.227623 -1.096929
5 -0.917270 -0.286730

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [36]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   13  10  19  17
1   30  27  24  25
2   20  12  24  37
3   35  25  32  20
4   25  10  15  21
5   24  20  32  30
6   10  13  28  10
7   30  33  19  17
8   34  11  34  12
9   35  14  29  18
10  21  39  31  27
11  16  26  39  38
12  38  11  22  23
13  17  18  25  15
14  33  20  21  16

In [30]:
print(df[df.iloc[:,0]>20])

     0   1   2   3
0   26  11  22  20
1   24  17  27  34
2   33  19  30  10
3   33  21  13  23
4   28  31  35  12
6   28  12  16  15
7   30  21  33  16
8   25  23  15  24
10  37  19  24  13
13  39  23  17  10

In [31]:
print(df[(df.iloc[:,0]+df.iloc[:,1])>50])

     0   1   2   3
2   33  19  30  10
3   33  21  13  23
4   28  31  35  12
7   30  21  33  16
10  37  19  24  13
13  39  23  17  10

In [44]:
print(df[(df.iloc[:,0]<30) + (df.iloc[:,1]>30)] )

     0   1   2   3
0   13  10  19  17
2   20  12  24  37
4   25  10  15  21
5   24  20  32  30
6   10  13  28  10
7   30  33  19  17
10  21  39  31  27
11  16  26  39  38
13  17  18  25  15

In [39]:
print(df[(df[0]+df[1]+df[2]+df[3])>100])

     0   1   2   3
1   30  27  24  25
3   35  25  32  20
5   24  20  32  30
10  21  39  31  27
11  16  26  39  38