# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [3]:
# 記得先 Import 正確的套件

import pandas as pd
import numpy as np

In [4]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [11]:
for animal in set(df['animal']):
    print('age of ',animal,df[df['animal']==animal].age.mean())

age of  snake 2.5
age of  cat 2.5
age of  dog 5.0

In [12]:
print(df.sort_values(by='age').sort_values(by='visits',ascending=False))

  animal  age  visits priority
f    cat  2.0       3       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
h    cat  NaN       1      yes

In [19]:
df.priority.str.replace('yes' , 'True').str.replace('no','False')

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: object

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [20]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.248792  0.394528  0.151604
1  0.374456  0.884296  0.817179
2  0.360389  0.244063  0.776365
3  0.085230  0.341793  0.646573
4  0.634725  0.074163  0.254493

In [23]:
print(df.mean())

0    0.340718
1    0.387769
2    0.529243
dtype: float64

In [24]:
print(df.mean(axis=1))

0    0.264975
1    0.691977
2    0.460272
3    0.357865
4    0.321127
dtype: float64

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [25]:
df

          0         1         2
0  0.248792  0.394528  0.151604
1  0.374456  0.884296  0.817179
2  0.360389  0.244063  0.776365
3  0.085230  0.341793  0.646573
4  0.634725  0.074163  0.254493

In [37]:
mean_of_df_1 = df.mean(axis=1)
minn = mean_of_df_1.min()
for i in range( len(mean_of_df_1) ):
    if mean_of_df_1[i] == minn:
        print(i)

0

In [41]:
mean_of_df_2 = df.mean()
miin = mean_of_df_2.min()
for i in range( len(mean_of_df_2) ):
    if mean_of_df_2[i] == miin:
        print(i)

0